<body class="bg-color-actual">
    <div class="container main-container text-white">

        <h1>Lista de Transações</h1>

        <p>
            <a class="btn btn-danger" [routerLink]="['/expense/new']">Nova Transação</a>
        </p>

        <table class="table table-hover table-custom-dark rounded-3 overflow-hidden">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor Total</th>
                    <th>Rateio/Responsáveis</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @for (transaction of transactionsSignal(); track transaction.id) {
                <tr>
                    <td>
                        {{ transaction.id }}
                    </td>

                    <td>
                        {{ transaction.expenseOrigin.name + ' - ' + transaction.expenseOrigin.description}}
                    </td>

                    <td>
                        {{ transaction.totalValue | currency:'BRL':'symbol':'1.2-2' }}
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            @for (responsible of transaction.expenseResponsibles; track $index){
                            <li>
                                <span class="text-warning">
                                    {{ responsible.responsibleId | responsibleName }}
                                </span>
                                - {{ responsible.proratedValue | currency:'BRL':'symbol':'1.2-2' }}
                            </li>
                            }
                            @empty {
                            <span class="text-muted">N/A</span>
                            }
                        </ul>

                    </td>

                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-info" [routerLink]="['/expense/details/',transaction.id]">
                            <span class="fa fa-search"></span> Detalhes
                        </a>&nbsp;
                        <a class="btn btn-sm btn-outline-warning"
                            [routerLink]="['/expense/edit',transaction.id]">
                            <span class="fa fa-pencil-alt"></span> Editar
                        </a>&nbsp;
                        <a class="btn btn-sm btn-danger" [routerLink]="['/expense/delete',transaction.id]">
                            <span class="fa fa-trash"></span> Excluir
                        </a>
                    </td>
                </tr>
                }
                @empty {
                <tr>
                    <td colspan="5" class="text-center text-muted">
                        {{ errorMessageSignal() ? errorMessageSignal() : 'Nenhuma transação encontrada.' }}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
