
.table-custom-dark {
  background-color: #201f1f;
  --bs-table-bg: #201f1f;
  color: #f8f9fa;
  --bs-table-hover-bg: #333232;
}

  .table-custom-dark th,
  .table-custom-dark td {
    color: #f8f9fa;
    border-color: #333232;
  }
  
