<div class="d-flex min-vh-100 text-light bg-preto-personalizado">
    <main class="flex-grow-1 p-3 p-sm-4 p-md-5">
        <div class="mx-auto" style="max-width: 800px;">
            <header class="mb-4">
                <h1 class="text-white fs-1 fw-black lh-1">Perfil de Usuário</h1>
                <p class="text-secondary mt-2">Gerencie suas configurações de conta.</p>
            </header>
            <app-tab-navigation
                [tabs]="settingsTabs" 
                [activeRoute]=""
                (tabSelected)="handleTabChange($event)">
            </app-tab-navigation>
            
            <main class="mt-4">
                <router-outlet></router-outlet>
            </main>
        </div>
    </main>
</div>