
/* @import '~@ng-select/ng-select/themes/default.theme.css'; */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.main-container {
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
}

input,
select,
file,
textarea {
    max-width: 600px;
}

.bg-color-actual {
    background-color: #000000 !important;
}

/* Defina a variável principal do corpo */
:root {
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

/* Aplique a regra ao body (como fallback) */
body {
    font-family: 'Roboto', sans-serif; 
}

/* styles.css */
.bg-vermelho-personalizado {
    /* Escolha o seu tom de vermelho */
    background-color: #B4121B !important; 
}

/* styles.css */
.bg-preto-personalizado {
    /* Escolha o seu tom de vermelho */
    background-color: #000000 !important; 
}

.bg-cinza-personalizado {
    /* Escolha o seu tom de vermelho */
    background-color: #201f1f !important; 
}

