<nav class="navbar navbar-expand-lg navbar-dark bg-vermelho-personalizado">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/login']">Family Control Solution</a>
        @if (userLogged()){
        <h1 class="nav-link text-light" id="userName">{{ user.name }}</h1>
        <h1 class="nav-link text-light" id="userEmail">{{ user.email }}</h1>
        <a class="btn btn-dark" [routerLink]="['/login']" (click)="logout()">
            Sair <span class="fas fa-sign-out ms-2"></span>
        </a>
        } @else {
        <h1 class="nav-link text-light"> REALIZE O LOGIN </h1>
        <a class="btn btn-dark" [routerLink]="['/login']">
            Login <span class="fas fa-sign-in ms-2"></span>
        </a>
        }
    </div>
</nav>
<nav class="mh-100 mv-100 bg-preto-personalizado text-light" style="height: 170px;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <picture class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <source srcset="images/logo.png" type="image/png">
            <img src="images/logo.png" alt="Logo da Aplicação" width="30%">
        </picture>
    </div>
</nav>
@if (userLogged()){
<nav class="navbar navbar-expand-lg navbar-dark bg-cinza-personalizado flex-sm-row-reverse">
    <div>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNav"
            [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item dropdown me-5">
                    <a class="nav-link" [routerLink]="['/dashboard']" id="dashboard" role="button"
                        aria-expanded="false">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="lancamentosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Lançamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lancamentosDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/expense/new']">Novo Lançamento</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/expense/list']">Listar Lançamentos</a></li>
                        <li><a class="dropdown-item" href="#">Lançamentos Recentes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="contasDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Contas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="contasDropdown">
                        <li><a class="dropdown-item" href="#">Ver Contas</a></li>
                        <li><a class="dropdown-item" href="#">Nova Conta</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="metasDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Metas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="metasDropdown">
                        <li><a class="dropdown-item" href="#">Minhas Metas</a></li>
                        <li><a class="dropdown-item" href="#">Criar Meta</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="relatoriosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Relatórios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="relatoriosDropdown">
                        <li><a class="dropdown-item" href="#">Por Categoria</a></li>
                        <li><a class="dropdown-item" href="#">Fluxo de Caixa</a></li>
                        <li><a class="dropdown-item" href="#">Anual</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown me-5">
                    <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Configurações
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="configDropdown">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Cartoes de Credito</a></li>
                        <li><a class="dropdown-item" href="#">Formas de Pagamento</a></li>
                        <li><a class="dropdown-item" href="#">Responsáveis</a></li>
                        <li><a class="dropdown-item" href="#">Tipos de Despesas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
}