<!-- <div class="mb-4 border-bottom border-light border-opacity-10">
      <nav class="nav nav-tabs gap-3" aria-label="Tabs">
        <a *ngFor="let tab of tabs"
          [routerLink]="tab.route"
          [routerLinkActive]="['active']"
          (click)="selectTab(tab.route)"
          class="nav-link px-1 py-3"
          [ngClass]="{
            'text-danger fw-medium': isTabActive(tab.route),
            'text-secondary': !isTabActive(tab.route)
          }">
          {{ tab.label }}
        </a>
      </nav>
    </div> -->